nav.side {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
  /* height: 900px; */
  padding: 0 0 552px;
  background-color: rgba(1, 101, 255, 0.85);
  flex-shrink: 0;
  position: relative;
  transition: 750ms width;
}

nav.side.collapsed { width: 40px; }

nav.side.collapsed .link-label,
nav.side.collapsed>header>img {
  opacity: 0
}

nav.side.collapsed>header>img.mini { opacity: 1 }
nav.side.collapsed>*>a { padding-inline-start: 10px; }


.link-label {
  opacity: 1;
  transition: 750ms opacity;
}

nav.side>* {
  flex: 1;
  padding: 0;
  padding-top: 100px;
  overflow-x: hidden;
}

nav.side>*>a {
  height: 40px;
  line-height: 40px;
  padding: 0;
  padding-inline-start: 40px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
  display: block;
  text-align: start;
  text-decoration: none;
  opacity: .65;
  transition: opacity 250ms, padding-inline-start 750ms;
  cursor: not-allowed;
  white-space: nowrap;
}

nav.side>*>a:hover {
  opacity: 1;
}

nav.side>*>a.active {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: default;
}

nav.side>*>a>img {
  width: 20px;
  margin-inline-end: 7px;
  vertical-align: -5px;
}

nav.side>header {
  height: 64px;
  background-color: #0165ff;
  position: relative;
  flex: initial;
  padding: 0;
}

nav.side>header>img {
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 750ms;
}

nav.side>header>img.mini { opacity: 0; }

nav.side>.btn.toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  line-height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: -12px;
  overflow: visible;
}